:root{
  --sidebarInlineSize:15rem;
  --minBlockSize:37.5rem;
  --minInlineSize:48rem;
  --bottomSize:2rem;
  --imageSize: 100vh;
}


.layout{
  min-inline-size: var(--minInlineSize);
  /* overflow: hidden; */
}

.layout-sidebar{
 block-size: calc(100vh - var(--bottomSize));
 min-block-size: var(--minBlockSize);
 inline-size: var(--sidebarInlineSize);
 overflow: auto;
 flex-shrink: 0;
}

.layout-main{
 block-size: calc(100vh - var(--bottomSize));
 overflow: auto;
 /* border: 1px solid red; */
}

.layoutMain-playlist{
  /* border: 1px solid red; */
  block-size: calc(100vh - var(--bottomSize));
  /* overflow: auto; */
  /* border: 1px solid red; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-playlist.png);
}

.layoutMain-playlist img{
  width: 100%;
  height: auto;
}

.layout-bottom{
flex: 1;
block-size: var(--bottomSize);

}

.layout-block{
  display: flex;
}

.layoutBlock-playlist{

 display: flex;
 align-items: center;
}
